@{
    ViewBag.Title = "Home Page";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Three-Tier Program Design Pattern </h1>
    <p class="lead">三層式架構很難寫嗎?從簡單的例子來實際做一遍吧！</p>
</div>

<div class="container">

    <div class="card-deck mb-3 text-center">

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Basis</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Basis about Three-Teir</li>
                    <li>Show you Good And Bad</li>
                    <li>Different Coding Style</li>
                </ul>
                <button type="button" 
                        onclick="location.href='@Url.Action("Basis", "Home")'"
                        class="btn btn-lg btn-block btn-outline-primary">Check!!</button>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Lesson 1</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Basis Pattern</li>
                    <li>Do it Start</li>
                    <li>Build DB</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Lesson 2</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Build DAL</li>
                    <li>Build Unit Test</li>
                    <li>Build BLL</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Check!!</button>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Lesson 3</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Build Web/UI</li>
                    <li>Connect BLL</li>
                    <li>Demo</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Check!!</button>
            </div>
        </div>


    </div>

    
</div>

